/* .container{
    width: 100%;
    
    height: 100vh;
}

.container-inner{
    width: 100%;
    height: 100%;
    display: flex;
}
.container-inner .pair{
    height: 100%;
}
.container-inner .pair .left{
    width: 35%;
    background-color: red;
}
.container-inner .pair .right{
    width:  65%;
    background-color: aqua;

} */